nav{
    height: 40px;
    width: calc(100% - 250px);
    background: #c5d2ff;
    padding: 10px 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed
}

nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

.navbar-links{
    cursor: pointer;
    font-family: "Amaranth", sans-serif;
    font-size: 1.25rem;
    color: #0034ae;
}

.logo{
    font-family: "Amaranth", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}